[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
sqlalchemy = "*"
"psycopg2" = "*"
uwsgi = "*"
flask-webpack = "*"


[dev-packages]

honcho = "*"
"flake8" = "*"
docker-compose = "*"
