<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>tmp</title>
  </head>
  <body>
    <p>Let me tell you why you're here. You're here because you know something.
      </br>What you know you can’t explain. But you feel it.
      </br>You’ve felt it your entire life. There's something wrong with the world.
      </br>You don't know what it is, but it's there. Like a splinter in your mind.
      </br>Driving you mad. It is this feeling that has brought you to me.
      </br>The [Censored] is everywhere. It is all around us. Even now, in this very room.
      </br>You can see it when you look out your window, or when you turn on your television.
      </br>You can feel it when you go to work, when you go to Church, when you pay your taxes.
      </br>It is the world that has been put over your eyes to blind you from the truth.
      </br>That you are a slave, ${YOUR_NAME}.
      </br>Like everyone else, you were born into bondage, born into a prison that you cannot smell, or taste, or touch.
      </br>A prison for your mind. Unfortunately, no one can be told what the Matrix is.
      </br>You have to see it for yourself.
      </br>This is your last chance. After this there is no turning back.
      </br>You take the blue pill the story ends, you wake up in your bed and you believe whatever you want to.
  </br>You take the red pill you stay in Wonderland and I show you how deep the rabbit hole goes.</p>
    <img src="" alt="Red pill" />
    <img src="" alt="Blue pill" />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
