<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tmp</title>
</head>
<body>
    <p>Let me tell you why you're here. You're here because you know something.
        </br>What you know you can’t explain. But you feel it.
        </br>You’ve felt it your entire life. There's something wrong with the world.
        </br>You don't know what it is, but it's there. Like a splinter in your mind.
        </br>Driving you mad. It is this feeling that has brought you to me.
    </br>The [Censored] is everywhere. It is all around us. Even now, in this very room.</p>
    <img src="" alt="Red pill" />
    <img src="" alt="Blue pill" />
</body>
</html>
