body {
  background: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }
  @media screen and (max-width: 800px) {
    body {
      padding: 20px;   }
}

img {
  max-width: 100%; }

  [role=button] {
    padding: 1em; }

    .center {
      text-align: center; }
