<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sky</title>
  </head>
  <body>
    <div class="container">
      <div class="cube">
        <div class="pane north">N</div>
        <div class="pane south">S</div>
        <div class="pane east">E</div>
        <div class="pane west">W</div>
        <div class="pane up">U</div>
        <div class="pane down">D</div>
      </div>
    </div>
    <script>
      const AUTH_URL = "{{ auth_url | safe }}";
    </script>
    {{ javascript_tag('sky') | safe }}
  </body>
</html>
